body {
  min-height: 200vh;
  background-image: url(../img/选择星座2bg.png);
}
h1 {
  padding-top: 1.08rem;
  color: #fefefe;
  font-size: 17px;
  text-align: center;
}
ul {
  margin-top: 1.43rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.69rem;
}
ul li {
  padding: 0 0.5rem;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  width: 60.5px;
  padding-bottom: 0.37rem;
}
ul li span {
  font-size: 9px;
  text-align: center;
  font-weight: 400;
}
ul li span:nth-of-type(2) {
  margin-top: 0.12rem;
  margin-bottom: 0.09rem;
}
ul li .title {
  font-size: 13px;
  margin-top: 0.17rem;
  font-weight: 700;
}
ul img {
  width: 60.5px;
}
figure {
  margin-left: 3.4rem;
}
figure img {
  width: 32.5px;
}
